<div ng-controller="aboutController">
	<div class="about-bg">
	 	<div class="d-overlay">
		 	<div class="headline about-heading">
        <div class="container">
        	<div>
	          <div class="main-text">Cherrywork Digital Apps</div>
	          <div class="sub-text">An enterprise digital apps suite on SAP Cloud Platform that enables Employees, Customers, Vendors & Processes of an SAP enterprise to collaborate, work in real time from anywhere at any time.</div>
          </div>
        </div>
     	</div>
     	<div class="stats hidden-xs">
	     	<div ng-repeat="s in statistics" class="col-sm-3 col-xs-3 no-padding">
					<div class="stat-s3">
						<div class="s-count">{{s.count}} +</div>
						<div class="s-text">{{s.text}}</div>
					</div>
				</div>
			</div>
      <div class="arrowDown">
        <img src="/img/arrow_down.svg" ng-click="gotoBottom()" class="hover">
      </div>
   	</div>
	</div>

	<div class="about-container" id="aboutDetail">
  	  <div class="container visible-xs">
        <div class="col-xs-12 no-padding equal-height">
          <div ng-repeat="s in statistics" class="col-xs-3" style="min-width: 180px; margin:auto;">
            <div class="circle">
              <div class="circle__inner">
                <div class="circle__wrapper">
                  <div class="circle__content">
                  <!-- Circle text -->
                    <div>{{s.count}} +</div>
                    <div style="font-size: 18px;">{{s.text}}</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="stat-s3">
              <div class="s-count">{{s.count}}+</div>
              <div class="s-text">{{s.text}}</div>
            </div> -->
          </div>
        </div>
      </div>


  	<div class="container">
			<div class="col-sm-12 no-padding equal-height">
			<!-- <h2 class="bHeading">Features</h2> -->
				<div ng-repeat="b in benefits" class="col-sm-4 no-padding" style="margin:auto;">
					<div class="benefit-s4">
						<img class="b-icon" ng-src="{{b.icon}}">
						<div class="b-name">{{b.name}}</div>
						<div class="b-desc">{{b.description}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
