<div class="app-list-container">
  <div class="overlay cover-img">
    <div class="headline">
      <div class="container">
        <div class="main-text">Rapidly portable</div>
        <div class="sub-text">Renovate workflows from existing applications into simple, instinctive experiences that are accessible anytime, anywhere.</div>
      </div>
    </div>
    <div class="arrowDown">
      <img src="/img/arrow_down.svg" ng-click="gotoBottom()" class="hover">
    </div>
  </div>
  <div class="app-category" id="appCategory">
    <button ng-class="{'active': $index == selectedCategoryIndex}" ng-repeat="c in appData" ng-click="selectCategory($index)">
      <img src="../img/app-icon.png" class="cat-icon-class"> {{c.key}}
    </button>
  </div>
  <div class="category-container">
    <article class="post tag-outsourcing" ng-repeat="a in selectedCategoryData.data">
      <div ui-sref="app-detail" ng-click="selectProject(a)" class="card-details">
        <div class="app-icon-line"></div>
        <img class="app-icon app-content-margin" ng-src="{{a.bgImg}}">

        <header class="post-header app-content-margin" style="margin-top: 50px;">
          <h2 class="post-title">{{a.heading}}</h2>
        </header>

        <section class="post-excerpt">
          <p> {{a.sContent}} </p>
          <a class="read-more app-content-margin" ui-sref="app-detail">Read More ...</a>
        </section>
      </div>
    </article>
  </div>
</div>
