<div class="app-detail-container">
  <div class="overlay cover-img cover-img-detail" style="height: 45vh;">
  </div>
  <div class="app-detail">
    <div class="category-container">
          <header class="post-header2">
            <div class="post-title post-lHeading">
              <a ui-sref="apps"><img src="../img/back.png" class="back-btn"></a>
              <img class="app-icon-detail" ng-src="{{selectedApp.bgImg}}">
              {{selectedApp.lHeading | uppercase}}
              <a title="Click to view vedio"><img src="../img/vedio.png" class="vedio_icon"></a>
              <a ng-href="{{selectedCategoryData.brochure}}" title="Click to download the brochure" download><img src="../img/brochure.png" class="brochure_icon"></a>
              </div>
            </div>
          </header>
          <div class="col-md-12 no-padding">
            <div class="col-xs-12 col-md-6 no-padding" style="float: right;">
              <div ng-show="selectedApp.appImgs" id="appCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#appCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#appCarousel" data-slide-to="1"></li>
                  <li data-target="#appCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" style="height: 100%;">
                  <div ng-repeat="i in selectedApp.appImgs" class="item" ng-class="i.imgActive">
                      <div>
                        <img ng-src="{{i.carouselImg}}">
                      </div>
                  </div>
                </div>
            </div>
          </div>
            <section class="no-padding post-lContent app-padding">
            <h3>Overview</h3>
              <div ng-bind-html="lContent1"></div>
              <div ng-bind-html="lContent2"></div>
              <div ng-bind-html="lContent3"></div>
            </section>


        </div>
          <div ng-show="selectedApp.features">
            <div class="f-bg col-sm-12 no-padding">
              <section class="f-overlay post-fContent app-padding">
                <h3>Features</h3>
                <li ng-click="f.isCollapsed = !f.isCollapsed" ng-repeat="f in selectedApp.features">
                  <b class="fName"><strong>{{f.fName}}</strong></b>
                  <div collapse="element.isCollapsed"  ng-show="f.fText && !f.isCollapsed" ng-bind-html="setSceTofText(f.fText)"></div>
                </li>
              </section>
            </div>
          </div>
    </div>

  </div>
</div>
